:root
{
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: #5c13bb;
    --boder-color: #dbdbdb;
    --header-height: 120px;
    --navbar-height: 35px;   
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
    --header-sort-bar-height: 46px;
}

*{
    box-sizing: inherit;
}

html
{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.grid__row
{
    display: flex;
    flex-wrap: wrap;
}

/* Animation */
@keyframes fadeIn
{
    from
    {
        opacity: 0;
    }
    to
    {
        opacity: 1;
    }    
}

@keyframes growth
{
    from
    {
        transform: scale(var(--growth-from));
    }
    to
    {
        transform: scale(var(--growth-to));
    }
}

/* Modal */
.modal
{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: fadeIn linear 0.1s;
}

.modal__overplay
{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.25);
}

.modal__body
{
    --growth-from: 0.7;
    --growth-to:1;
    margin: auto;
    /* position: relative; */
    z-index: 1;
    border-radius: 10px;
    animation: growth linear 0.1s;
}

/* Button style */
.btn
{
    min-width: 124px;
    height: 36px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.5rem;
    padding: 0 12px;
    cursor: pointer;
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.6rem;
}

.btn.btn--normal:hover 
{
    background-color: rgba(0, 0, 0, 0.15);
}

.btn.btn--size-s
{
    height: 32px;
    font-size: 1.2rem;
    padding: 0 8px;
}

.btn.btn--primary
{
    color: var(--white-color);
    background-color: var(--primary-color);
}

.btn.btn--disabled
{
    color: #949494;
    cursor: default;
    background-color: #bfbcbc;
}

