/* Mobile & tablet */
@media (max-width: 1023px)
{   
    :root
    {
        --header-height: 70px;
        --navbar-height: 0px;   
    }
    .hide-on-mobile-tablet
    {
        display: none;
    }

    .header
    {
        position: fixed;
        top:0;
        right: 0;
        left: 0;
    }

    .header__cart-list
    {
        position: fixed;
        top: var(--header-height);
        right: 0;
        width: 100%;
        padding: 0 calc((100% - 664px) /2 );
    }

    .header__cart-list::after
    {
        display: none;
    }
    .header__sort-bar
    {
        display: flex;
    }
}
/* Tablet pro & laptop */
@media (min-width:1024px) 
{
    .header__sort-bar
    {
        display: none;
    }

    .header__mobile-search
    {
        display: none;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px)
{
    .hide-on-tablet
    {
        display: none;
    }

    .header__cart
    {
        width: 80px;
        text-align: right;
    }
}

/* Mobile */
@media (max-width: 740px)
{
    .hide-on-mobile
    {
        display: none;
    }
    
    .header-with-search
    {
        justify-content: space-between;
    }

    .header__cart,
    .header__logo
    {
        width: unset;
    }

    .header__search
    {
        position: fixed;
        top: var(--header-height);
        left: 0;
        right: 0;
        height: 46px;
        box-shadow: 0 1px 2px rgba((0), 0, 0, 0.05);
        z-index: 1;
        padding: 0 8px;
        animation: mobileSearchSideIn linear 0.3s;
        display: none;
    }
    
    .header__search-history
    {
        position: fixed;
        width: 100%;
        top: calc(var(--header-height) + var(--header-sort-bar-height));
        left: 0;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    }

    @keyframes mobileSearchSideIn {

        from
        {
            opacity: 0;
            top: calc(var(--header-height) / 2);
        }
        to
        {
            opacity: 1;
            top: var(--header-height);
        }
    }

    .header__search-input,
    .header__select-select-label
    {
        font-size: 1.2rem;
    }

}